<launch>
    
  <arg name="record_prefix" default="realsense2" />

  <!-- <node pkg="rosbag" type="record" name="rosbag_record_realsense2"
        args="-o $(arg record_prefix)
		      /color/camera_info
			  /color/image_raw/throttled
			  /tf
			  /tf_static" />-->

  <node name="throttle" pkg="topic_tools" type="throttle" args="messages camera2/fisheye2/image_raw/sync 4.0 camera2/fisheye2/image_raw/throttled"/>
  
  <node name="image_viewf2_1" pkg="image_view" type="image_view" respawn="false" output="screen">
	  <remap from="image" to="camera2/fisheye2/image_raw/sync"/>
    <param name="autosize" value="true" />
  </node>
  
  <node name="image_viewf2_2" pkg="image_view" type="image_view" respawn="false" output="screen">
	  <remap from="image" to="camera2/fisheye2/image_raw/throttled"/>
    <param name="autosize" value="true" />
  </node>
 

</launch>
